*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'logo-font';
    src: url('img/Norse-Bold.otf') format('truetype');
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

#container{
    display: flex;
    height: 100vh;
}
/* Image section */
#banner{
    background: url(img/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: 100%;
    height: 100%;
    flex: 2;
}
#form{
    background-color: white;
    height: 100%;
    flex:3;
    border: 5px solid black;
}
#back{
    height: 6rem;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    margin: 150px 0px 0px 0px;
    font-family: 'logo-font';
    color: white;
    display: flex;
    justify-content: center;
}
#back p{
    font-size: 100px;   
}
#logo{
    height: 100%;
    margin: 0px  10px;
}

/* Form section */
#form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#top{
    flex: 3;
    background-color: beige;
}
#formfill{
    max-width: 600px;
      width: 100%;
    margin: 20px;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  label {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .error {
    border-color: red;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
#top p{
    margin: 40px 70px 30px 30px;
    font-weight: 600;
}

#bottom{
    flex: 2;
    background-color: burlywood;
    height: 100%;
}
#bottom button{
    margin: 40px;
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: #586d49;
    border: none;
    border-radius: 10px;
}
#bottom p{
    margin: 0px 50px;  
    font-size: 1.3rem;
    font-weight: 600;
}






